.App {
    text-align: center;
    color: #282c34;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.app-header {
    background-image: url(../images/RIVER-LAND.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: saturation;
    margin-bottom: 1%;
    color: black;
    align-items: baseline;
    text-align: -moz-center;
    min-width: 42em;
    min-height: 43em;
    text-align: center;
}

.app-header h1 {
    padding-top: 10%;
    font-family: 'Monoton', cursive;
    font-size: 58px;
}

.App-link {
    color: black;
}
