* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Titillium Web', sans-serif;
}

.navbar {
    overflow: hidden;
    color: black;
    background-color: transparent;
}

.navbar Button{
    text-align: center;
    color: black;
    cursor: none;
}

.navbar Button:hover{
    color: red;
}

h1{
    padding-top: 1%;
    margin-left: 10%;
    margin-Right: 10%;
    font-family: 'Monoton', cursive;
    font-size: 58px;
    color: black;
}
h1:hover{
    color: red;
    cursor: none;
}
h2{
    font-size: 48px;
    font-weight: bold;
}
h3 {
    font-size: 32px;
    font-weight: bold;
}

.Portfolio {
    background-color: ivory;
    padding: 5%;
    color: black;
    text-align: -moz-center;
    min-width: 42em;
    min-height: 43em;
    text-align: center;
    overflow: hidden;
    align-items: center;
    font-size: calc(10px + 2vmin);
}


.Portfolio h2{
    font-size: 48px;
}

.Container {
    background-color: antiquewhite;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Location{
    background-color: antiquewhite;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Contacts {
    background-color: ivory;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    align-items: center;
    color: black;
}

.Carousel{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Home{
    display: flex;
}
.Home p {
    font-size: calc(10px + 2vmin);
    color: black;
    line-height: 1.2;
}

.Home img{
    flex: 1;
    border-radius: 5px;
}

.App-link {
    color: #61dafb;
}

.list {
    color: black;
    list-style: none;
    padding: 2%;
}

.list-items {
    margin-top: 2em;
    text-align: center;
}
.menu-list{
    margin-top: 2em;
    text-align: center;

}
.Sidebar{
    display: flex;
}

.Sidebar-list{
    width: 15%;
    background: darkslategrey;
    align-items: center;
}

.Sidebar-menu{
    list-style: none;
}

.current-menu{
    flex: 1;
    padding-left: 1%;
}

.large-text {
    color: #282c34;
    line-height: 2;
    font-size: 26px;
    padding: 2%;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

img{
    color: black;
    height: 50vmin;
    width: 50vmin;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0.85;
    border-style: dotted;
    padding: 2%;
}

.carousel-item, .carousel-item.active {
    align-items:center;
}
.carousel-item > img {
    width: 100%;
}